@charset "UTF-8";


h1 {
	text-align : left;
	font-size : 25px;
	padding-left : 15px;
	font-family: sans-serif;
	font:bold;
}

h2 {
	text-align : center;
	font-size : 25px;
	padding : 15px;
	font-family: sans-serif;
	font:bold;
}

a {
	font-family: sans-serif;
}

nav {
	display: flex;
	float: right;
}

.login-form {
	display: inline-block;
}

.inscription{
	column-count: 2;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 800px;
}

.inscription1 {
	padding-right: 30px;
}

.tr-form {
	padding-bottom: 10px;
}

input{
	width: 150px;
	padding: 4px;
	vertical-align: middle;
	font-family: sans-serif;
}

label {
	display: inline-block;
	width: 110px;
	margin-right: 20px;
	vertical-align: middle;
	text-align: right;
	font-family: sans-serif;
}

.tr-button {
	column-count: 2;
	margin: 0 auto;
	width: 400px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
}

.profil-button {
	padding-bottom: 20px;
	padding-right: 50px;
}

.search {
	padding-top: 50px;
}

#search {
	background-image: url(../images/25306.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 16px;
	width: 400px;
	border-radius: 10px;
}

.lb-search {
	padding-bottom: 10px;
}

.search-bar {
	margin-left: 50px;
}

.categorie {
	margin-left: 20px;
	padding-top: 20px;
}

.bt-search {
	width: 600px;
	height: 100px;
	display: inline-flex;
	float: right;
}